[Unit]
Description=XWizard automatically configure available monitors using xrandr
Wants=multi-user.target

[Service]
TimeoutStartSec=1
ExecStart=/usr/bin/xwizard

[Install]
WantedBy=default.target
